<div id="carouselExample" class="carousel slide mt-3">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="card text-bg-dark">
                <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_YuGiOhRushDuelDawnOfTheBattleRoyale_image1280w.jpg" class="card-img opacity-50" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white fs-1">Evenement Du sanglier volant </h5>
                    <p class="card-text text-white fs-4">Du 6 au 10  novembre ajoute t'a plus belle carte au hall of fame et tente de gagner un booster </p>
                    <p class="card-text text-white fs-4"><small>Last updated 3 mins ago</small></p>
                    <button type="button" class="btn btn-light btn-lg">Plus d'Info</button>
                </div>
            </div>
        </div>
        <!--template a garder pour genrer plusieur event-->
        <div class="carousel-item active">
            <div class="card text-bg-dark">
                <img src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_YuGiOhRushDuelDawnOfTheBattleRoyale_image1280w.jpg" class="card-img opacity-50" alt="...">
                <div class="card-img-overlay">
                    <h5 class="card-title text-white fs-1">Evenement Du sanglier roulant </h5>
                    <p class="card-text text-white fs-4">Du 6 au 10  novembre ajoute t'a plus belle carte au hall of fame et tente de gagner un booster </p>
                    <p class="card-text text-white fs-4"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
        <!--fin du template -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next " type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>