<%- include('./includes/header.ejs') %>

<div class="container">
    <div class="row">
    <div class="col-12 text-align-center">
        <h1>gzhzdaz</h1>
        <div class="card mt-4">
            <div class="card-header">
                <h3 >Yu-Gi-Oh!  C'est quoi ? </h3>
            </div>
            <div class="card-body">
                <h5 class="card-title">   Introduction : </h5>
                <p class="card-text">Depuis ses modestes débuts en tant que manga en 1996, Yu-Gi-Oh! s'est élevé au rang de phénomène mondial, captivant des millions de joueurs à travers le monde. Ce n'est pas seulement un jeu de cartes à collectionner, mais une expérience immersive qui mélange stratégie, compétition, et un univers fantastique captivant.</p>
                <h5 class="card-title">  Les Origines : </h5>
                <p class="card-text">L'histoire de Yu-Gi-Oh! commence avec Kazuki Takahashi, un mangaka visionnaire. En 1999, le manga a fait le saut vers le monde réel avec la création du jeu de cartes à collectionner (JCC), propulsant les duels de cartes au-delà des pages du manga.</p>
                <h5 class="card-title">  L'Univers de Duel : </h5>
                <p class="card-text">Au cœur de Yu-Gi-Oh! se trouve un univers de mystères, d'artefacts anciens et de monstres puissants. Le protagoniste, Yugi Mutou, et son alter ego, Yami Yugi, embarquent les joueurs dans une aventure où chaque carte représente un élément clé de la stratégie.</p>
                <h5 class="card-title">  Le Jeu de Cartes : </h5>
                <p class="card-text">Le jeu de cartes Yu-Gi-Oh! est un ballet stratégique où deux duellistes s'affrontent avec des decks uniques. Les Monstres, les Magies et les Pièges prennent vie sur le terrain, chacun jouant un rôle crucial dans la bataille pour réduire les Points de Vie de l'adversaire à zéro.</p>
                <h5 class="card-title">  Évolution Perpétuelle :</h5>
                <p class="card-text">L'univers Yu-Gi-Oh! n'est pas statique. À travers d'innombrables extensions, le jeu a évolué, introduisant de nouvelles cartes, mécaniques de jeu et stratégies. Cette évolution constante maintient la communauté engagée, stimulée par la recherche de la decklist parfaite et de la stratégie imparable.</p>
                <h5 class="card-title"> Sur le Champ de Bataille Compétitif :</h5>
                <p class="card-text">Yu-Gi-Oh! n'est pas seulement un jeu de salon. Des tournois locaux aux compétitions internationales, les duellistes compétitifs affinent leurs compétences, élaborent des stratégies élaborées et participent à des tournois prestigieux, élevant le jeu à un niveau d'art compétitif.</p>
            </div>
            </div>
            <!-- <div class="card mt-4">
                <div class="card-header">
                    <h3>Démystification des Règles Complexes de Yu-Gi-Oh!</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> L'Essence du Duel :</h5>
                    <p class="card-text"> Au cœur de Yu-Gi-Oh! se trouve l'affrontement entre deux duellistes, chacun armé d'un deck de cartes prêt à être déployé sur le terrain virtuel. Le but ultime ? Réduire les Points de Vie de l'adversaire à zéro.</p>
                
                    <p class="card-text"> Les Monstres, les Magies, et les Pièges constituent l'arsenal du duelliste. Comprendre leur utilisation est essentiel pour établir une stratégie victorieuse.</p>
                    <li>Monstres : Représentant les créatures du duel, ils ont des valeurs d'Attaque et de Défense et peuvent être invoqués dans différentes positions (Attaque ou Défense).</li>
                    <li>Magies : Ces cartes déclenchent des effets variés, de la modification des statistiques de Monstres à l'invocation spéciale de créatures puissantes.</li>
                    <li>Pièges : Jouées face cachée, elles peuvent surprendre l'adversaire en contrant ses actions ou en déclenchant des effets dévastateurs.</li>
                    <h5 class="card-title">L'Invocation des Monstres :</h5>
                    <p class="card-text"> Comprendre les méthodes d'invocation est fondamental. Des invocations Normales aux invocations Spéciales, chaque technique offre des avantages uniques. L'arrivée des Monstres Synchro, XYZ et Pendule a également ajouté des dimensions stratégiques supplémentaires.</p>
                
                    <h5 class="card-title">Les Pièges et Contres :</h5>
                    <p class="card-text"> Les Pièges, joués stratégiquement, peuvent renverser le cours d'un duel. La lecture du jeu de l'adversaire et la gestion des contres deviennent des compétences cruciales pour tout duelliste expérimenté.</p>
                
                </div>
                </div> -->
                <div class="card mt-4">
                    <div class="card-header">
                        <h3>Comment se déroule un Tour </h3>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> Les Phases du Duel :</h5>
                        <p class="card-text"> Chaque tour de jeu est structuré en phases distinctes, créant un rythme tactique. De la Pioche à la Phase de Combat, en passant par les phases Principales, chaque étape offre des opportunités stratégiques pour les joueurs habiles.</p>
                        <h6 class="card-title">Draw Phase :</h6>
                        <p class="card-text">Chaque duel commence par la Draw Phase. Piochez une carte de votre deck pour augmenter vos options stratégiques. Une main bien constituée est la clé du succès.</p>
                        <h6 class="card-title">Main Phase 1 :</h6>
                        <p class="card-text">Après avoir pioché, entrez dans la Main Phase 1. C'est le moment de poser des cartes Monstre, d'invoquer des alliés sur le terrain, et de construire votre position stratégique.</p>
                        <h6 class="card-title">Battle Phase :</h6>
                        <p class="card-text">La Battle Phase est l'apogée du duel. Attaquez l'adversaire avec vos Monstres, mais choisissez judicieusement. Une mauvaise décision peut vous laisser vulnérable à une contre-attaque. Protégez vos Points de Vie tout en cherchant à diminuer ceux de votre adversaire.</p>
                        <p class="card-text">Attaque Directe :Certains Monstres peuvent attaquer directement les Points de Vie de l'adversaire, contournant les autres Monstres sur le terrain. C'est une stratégie risquée, mais elle peut être dévastatrice</p>
                        <p class="card-text">Position de Défense : Pendant la Battle Phase, les Monstres en Position de Défense ne peuvent pas attaquer. Cependant, ils servent de rempart en pouvant être attaqués par les Monstres en Position d'Attaque de votre adversaire, minimisant ainsi les dommages potentiels</p>
                        <h6 class="card-title">Main Phase 2 :</h6>
                        <p class="card-text">Après les combats, la Main Phase 2 offre une nouvelle opportunité de poser des cartes, de renforcer votre position, ou de préparer des stratégies pour le prochain tour</p>
                        <h6 class="card-title">End Phase :</h6>
                        <p class="card-text">Objectif : "La End Phase marque la conclusion du tour. Vérifiez si des effets de cartes spéciales sont activés à la fin de la phase et préparez-vous pour le tour de votre adversaire."</p>
                    </div>
                    </div>
                    <div class="card mt-4">
                        <div class="card-header">
                            <h3>Les Monstres </h3>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Les monstres Normaux : </h5>
                            <p class="card-text"> Les monstres normaux sont les guerriers de base. Ils n'ont pas d'effets particuliers mais forment le socle sur lequel les stratégies reposent. Leur invocation est simple, nécessitant seulement une invocation normale.</p>
                            <h5 class="card-title"> Monstres à Effet : </h5>
                            <p class="card-text"> Les monstres à effet introduisent des capacités spéciales qui peuvent altérer le cours du duel. Leurs effets varient, allant de la destruction de cartes à la manipulation des statistiques des monstres adverses.</p>
                            <h5 class="card-title"> Monstres Rituel : </h5>
                            <p class="card-text">Les monstres rituel exigent des cartes spécifiques appelées "Cartes de Rituel" pour être invoqués. Bien que leur invocation soit plus complexe, ces monstres sont souvent puissants et peuvent changer le cours du duel.</p>
                            <h5 class="card-title"> Monstres Fusion : </h5>
                            <p class="card-text"> Les monstres fusion résultent de la fusion de deux monstres spécifiques via une "Invocation Fusion". Ces créatures combinées ont généralement des statistiques élevées et des capacités uniques.</p>
                            <h5 class="card-title"> Monstres Synchro :</h5>
                            <p class="card-text"> Les monstres Synchro sont invoqués en combinant un monstre "Syntoniseur" avec un ou plusieurs monstres non-Syntoniseurs. Le niveau total des monstres utilisés doit correspondre au niveau du monstre Synchro que vous souhaitez invoquer.</p>
                            <h5 class="card-title"> Monstres XYZ :</h5>
                            <p class="card-text"> Les monstres XYZ sont invoqués en empilant deux ou plusieurs monstres de même niveau. Plutôt que d'avoir un niveau spécifique, ces monstres sont classés par des rangs, et ils peuvent utiliser leurs propres matériaux pour activer leurs effets.</p>
                            <h5 class="card-title"> Monstres Pendule :</h5>
                            <p class="card-text"> Les monstres Pendule ont une double utilité en tant que monstres et cartes magies. Ils sont placés dans les zones Pendule et permettent au duelliste d'inviter des monstres du terrain ou d'activer des effets de magie. Cette mécanique a ajouté une dimension stratégique supplémentaire au jeu.</p>
                        </div>
                        </div>
                        <div class="card mt-4">
                            <div class="card-header">
                                <h3>Les Invocations de Monstres </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> Les Invocation Normales :</h5>
                                <p class="card-text">Les Monstres de niveau 4 ou inférieur peuvent être normalement invoqués depuis la main.</p>
                                <h5 class="card-title"> Les invocation Spéciales :</h5>
                                <p class="card-text">Certains Monstres ont des conditions spécifiques pour être invoqués spécialement. Cela peut inclure l'utilisation d'effets de cartes ou des conditions de terrain particulières.</p>
                                <p class="card-text">Les Monstres Synchro, XYZ et Pendule sont souvent invoqués de cette manière.</p>
                                <h5 class="card-title"> Les Invocation Rituelle  :</h5>
                                <p class="card-text">Les Monstres Rituel ont un niveau spécifique, et la carte de rituel spécifie le niveau requis pour leur invocation.</p>
                                <p class="card-text">Les Monstres sacrifiés pour l'invocation rituelle contribuent au niveau total.</p>
                                <h5 class="card-title"> Les Invocation Fusion  :</h5>
                                <p class="card-text">Les Monstres Fusion ont souvent des niveaux spécifiques, et la carte de fusion spécifie les monstres nécessaires pour la fusion.</p>
                                <p class="card-text">Les niveaux individuels des monstres fusionnés sont généralement ignorés.</p>
                                <h5 class="card-title"> Les Invocation Synchro :</h5>
                                <p class="card-text">Les Monstres Synchro ont un niveau spécifique.</p>
                                <p class="card-text">Pour les invoquer, un joueur doit combiner un monstre Syntoniseur avec un ou plusieurs monstres non-Syntoniseurs, et le niveau total doit correspondre au niveau du monstre Synchro.</p>
                                <h5 class="card-title"> Les Invocation XYZ :</h5>
                                <p class="card-text">Les Monstres XYZ n'ont pas de niveau traditionnel.</p>
                                <p class="card-text">Ils sont classés par des rangs, et pour les invoquer, un joueur empile deux ou plusieurs monstres de même niveau.</p>
                                <h5 class="card-title"> Les Invocation Pendule :</h5>
                                <p class="card-text">Les Monstres Pendule ont des valeurs d'échelle Pendule (par exemple, 1-8).</p>
                                <p class="card-text">Les duellistes peuvent invoquer des monstres de leur main dont le niveau est compris entre les échelles Pendule.</p>
                            
                            </div>
                            </div>
                        <div class="card mt-4">
                            <div class="card-header">
                                <h3>Les cartes magies </h3>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> Magies Normales : </h5>
                                <p class="card-text"> Les Magies Normales sont des sorts simples qui offrent des effets directs. Elles peuvent avoir des impacts tels que la destruction de monstres, l'ajustement des points d'Attaque et de Défense, ou la pioche de cartes.</p>
                                <h5 class="card-title"> Magies Continue :</h5>
                                <p class="card-text">Les Magies Continues ont des effets persistants qui restent en jeu après leur activation. Elles peuvent altérer le terrain, modifier les statistiques des monstres, ou apporter des avantages constants au duelliste.</p>
                                <h5 class="card-title">Magies d'Équipement</h5>
                                <p class="card-text">Les Magies d'Équipement sont associées à des monstres, renforçant leurs capacités d'attaque ou de défense. Elles sont souvent utilisées pour maximiser le potentiel de monstres spécifiques.</p>
                                <h5 class="card-title">Magies Rapides :</h5>
                                <p class="card-text">Les Magies Rapides peuvent être activées en réponse aux actions de l'adversaire, offrant une flexibilité tactique. Elles peuvent contrer des effets, protéger des monstres, ou changer le cours d'une attaque.</p>
                                <h5 class="card-title">Magies de Terrain :</h5>
                                <p class="card-text">Les Magies de Terrain modifient les règles du terrain de jeu. Elles peuvent affecter les points d'Attaque et de Défense, créer des conditions spéciales, ou favoriser des types de monstres particuliers. Ces cartes ajoutent une dimension stratégique en façonnant l'environnement du duel.</p>
                            </div>
                            </div>
                            <div class="card mt-4">
                                <div class="card-header">
                                    <h3>Les cartes piége </h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> Pièges Normaux : </h5>
                                    <p class="card-text"> Les Pièges Normaux sont activés en réponse à une action de l'adversaire. Ils peuvent infliger des dommages, annuler des attaques, ou déclencher divers effets de contrôle du terrain.</p>
                                    <h5 class="card-title"> Contre-Pièges :</h5>
                                    <p class="card-text">Les Contre-Pièges sont conçus pour annuler les effets d'autres cartes. Ils sont souvent utilisés pour contrer les stratégies de l'adversaire et maintenir le contrôle du duel. 
                                    <h5 class="card-title">Pièges Continus</h5>
                                    <p class="card-text">Les Pièges Continus ont des effets qui persistent pendant plusieurs tours. Ils peuvent restreindre les actions de l'adversaire, bloquer des zones du terrain, ou créer des conditions de duel spécifiques.</p>
                                    <h5 class="card-title">Pièges de Contre-Attaque :</h5>
                                    <p class="card-text">Les Pièges de Contre-Attaque sont activés spécifiquement en réponse à une attaque adverse. Ils peuvent surprendre l'adversaire en renversant le cours du duel au moment crucial.</p>
                                    </div>
                                </div>
    </div>
    </div>
</div>

<%- include('./includes/footer.ejs') %>